%div{id: :displayImage}
%input{id: "imageUploader", type: :file, style: "display: none"}
%button{id: "buttonUploader"} Upload Image
= form_for (@blog) do |f|
    %textarea{name: "image", id: "base64Image", style: "display: none"}
    %br
    = f.text_field :title, placeholder: "Title"
    %br
    = f.text_field :caption, placeholder: "Caption"
    %br
    = f.text_area :description, placeholder: "Create new blog"
    %br
    
    %select.category_select2{:style => "width: 10%"}

    %br
    = f.submit @btnsave
