= link_to "Back", :back
%br

= image_tag @blog.image.to_s
%br
Title:
= @blog.title
%br
Caption:
= @blog.caption
%br
Description:
= @blog.description
%br
- if @blog.categories.any?
  = pluralize(@blog.categories.count, "Category")
  = ":"
  - @blog.categories.each do |category|
    = category.name